@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);

/* reset to defaults
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}


#container {
  width: 600px;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#app {
  width: 80%;
  height: 90%;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  margin-top: 75px;
}

input {
  text-align: left;
  line-height: 55px;
  font-family: 'Open Sans', sans-serif;
  font-size: 32pt;
}

#list {
  width: 80%;
  height: auto;
  position: relative;
  margin: auto;
  text-align: center;
  top: 5%;
}

.entry {
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 16pt;
  margin: 25px 25px 25px 25px;
}

body {
  background-image: url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/restaurant.png');
}

h1 {
  font-family: 'Gloria Hallelujah', cursive;
  padding-top: 80px;
  font-size: 80px;
  text-align: center;
  text-shadow: -2px -2px 0px rgba(255,255,255,0.3), 2px 2px 0px rgba(0,0,0,0.8);
  color: #333;
  padding-bottom: 36px;
}

img {
  overflow: hidden;
  position: relative;
  float: left;
  width:  300px;
  height: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px 10px 10px 10px;
}

p {
  text-align: middle;
  font-size: 18pt;
}

a {
  font-size: 12pt;
  font-style: italic;
  text-decoration: underline;
}